* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007FFF;
    text-align: center;
    position: sticky;
    padding: 25px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

p {
    padding-left: 20px;
    padding-right: 20px; 
    color: #000000;
  }

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #FFD800;
}

body {
    background: #00FFFF;
    color: #3232CD;
    font-family: Arial;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00a8e8;
  padding-left: 20px;
  padding-right: 20px; 
}

article {
    margin: 20px auto;
    padding: 20px;
    border: 4px solid #00a8e8;
    overflow: auto;
}

#header {
    margin: 0 auto 50px auto;
    width: 100%;
    padding: 30px;
    color: #ffffff;
    background: #003459;
    border-bottom: 3px solid #00a8e8;
    text-align: center;
}

#articles {
    max-width: 80%;
    margin: 0 auto;
}

.art-title {
    text-decoration: underline #0000FF;
}

.soundtrack {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px yellow;
}

.smeshariki-temi{
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px center;
}

.smeshariki20 {
    height: 200px;
    width: 300px;
    float: left;
    margin-right: 20px;
    border: 2px yellow;
}